<form (ngSubmit)="onSubmit()" #formEvento="ngForm">
    <p>
        <mat-form-field>
            <input matInput name="nombre" [(ngModel)]="eventoModel.nombre"
                type="text"
                placeholder="Nombre">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="fecha_inicio" [(ngModel)]="eventoModel.fecha_inicio"
                type="date"
                placeholder="Fecha de Inicio">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="fecha_finalizacion" [(ngModel)]="eventoModel.fecha_finalizacion"
                type="date"
                placeholder="Fecha de finalizacion">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="descripcion" [(ngModel)]="eventoModel.descripcion"
                type="text"
                placeholder="Descripcion">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput name="img" [(ngModel)]="eventoModel.img"
                type="text"
                placeholder="Img">
        </mat-form-field>
    </p>
    <p>
        <button type="submit" mat-flat-button color="accent">Guardar</button>
    </p>
</form>