body{
    display: flex;
    flex-direction: column;
}

.color-verde{
    background-color: #a8cf45;
    height: 15%;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 20px;
}
.img-logo{
    width: 100px;
}
.img-icono{
    width: 50px;
}
.flex{
    display: flex;
    align-items: center;
}
.centrado-y{
    align-content: center;
}
.derecha{
    display: flex;
    justify-content: right;
}
.padding-top{
    padding-top: 20px;
}
.footer{
    background-color: #a8cf45;
    height: 15%;
    bottom: 0; 
    left: 0; 
    width: 100%; 
    text-align: center; 
    padding: 10px; 
    margin-top: 20px;
}