.centrado {
    width: auto;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.padding {
    padding: 10px;
}
.borde {
    border: 1px solid gray;
    border-radius: 5px;
}
.bloques {
    display: block;
    width: 100%;
}
mat-hint {
    color: red;
}
mat-form-field {
    width: 100%;
}
.botones {
    width: auto;
    margin: auto;
}
button {
    margin: 5px;
}
a:active {
    color: cornflowerblue;
}