<div class="container centrado">
    <div class="centrado padding borde">
        <h2 class="bloques">Registrate</h2>
        <form class="bloques">
            <!--* nombre y apellido del usuario-->
            <mat-form-field appearance="outline">
              <mat-label>Ingrese su nombre completo</mat-label>
              <input matInput placeholder="Nombre Apellido" />
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
             <!--* apellido del usuario-->
             
          </form> 
    </div>
</div>

