<div class="card-evento">
  <h2 class="text-center p-2">Listado de eventos</h2>
  <mat-card *ngFor="let evento of eventos" class="card">
    <div class="card-header">
      <img [src]="evento.img" 
      alt="Imagen descriptiva" 
      width="100%" >
    </div>
    <mat-card-content>
      <h1 class="card-title">{{evento.nombre}}</h1>
      <p class="description">
        {{evento.descripcion}}
      </p>
      <p class="event-date">Fecha de finalización: {{evento.fecha_finalizacion}}</p>
    </mat-card-content>
  
    <mat-card-actions class="centrado">
      <button mat-raised-button color="accent" class="register-button">Inscribirse</button>
    </mat-card-actions>
  </mat-card>
</div>


