<h2 class="text-center p-2">Listado de eventos</h2>
<div class="card mb-3 d-flex justify-center">
    <img src="https://www.cipolletti.gob.ar/imagenes/TORNEO_DE_AJEDREZ1.png" width="auto" class="card-img-top" alt="TORNEO_DE_AJEDREZ1">
    <div class="card-body">
      <h1 class="card-title">Torneo de ajedrez</h1>
      <p class="card-text">Descripción del evento en esta parte del cuerpo de la card</p>
      <div class="row">
        <div class="col-8">
            <p class="card-text text-secondary d-flex align-center">Fecha de finalización: 12/12/2024</p>
        </div>
        <div class="col-4 d-flex justify-right">
            <button mat-raised-button color="primary">Primary</button>
        </div>
      </div>
    </div>
  </div>