.card{
    width: 60%;
    margin: 20px auto;
}
.d-flex{
    display: flex;
}
.justify-center{
    justify-content: center;
    align-content: center;
}
.card-text{
    font-size: 18px;
}
.justify-right{
    justify-content: right;
}
.align-center{
    align-content: center;
}