<table class="table" style="width: 100%;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">Fecha de inicio</th>
      <th scope="col">Fecha de finalización</th>
      <th scope="col">Img</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of eventosProximos">
      <th>id</th>
      <td>{{event.nombre}}</td>
      <td>{{event.description}}</td>
      <td>{{event.fechaInicio}}</td>
      <td>{{event.fechaFinalizacion}}</td>
      <img src="{{event.img}}" alt="" width="50%">
    </tr>
  </tbody>
</table>